<div class="flex justify-center flex-col items-center relative z-50">
  <div class="bg-hero-pattern bg-no-repeat bg-cover absolute inset-0 z-0 opacity-25"></div>
  <div class="group relative z-10 ">
    <span class="hidden sm:block absolute left-0 top-1/2 
        -translate-x-12 md:-translate-x-24 lg:-translate-x-24 2xl:-translate-x-48
        -translate-y-1/2
        w-[32px] md:w-[64px] lg:w-[60px] 2xl:w-[90px]
        group-hover:w-[64px] md:group-hover:w-[128px] lg:group-hover:w-[100px] 2xl:group-hover:w-[190px]
        h-[5px] 2xl:h-[8px]
        rounded-full bg-slide2 transition-all duration-500"></span>
    <h2 class="font-hm font-bold text-head text-3xl md:text-3xl lg:text-4xl lg:pt-12 2xl:text-6xl leading-10 mb-12 pt-8 mx-6 md:mx-12 lg:mx-20 2xl:mx-32 z-10">Our Channels</h2>
    <span class="hidden sm:block absolute right-0 top-1/2 
        translate-x-12 md:translate-x-24 lg:translate-x-24 2xl:translate-x-48
        -translate-y-1/2
        w-[32px] md:w-[64px] lg:w-[60px] 2xl:w-[90px]
        group-hover:w-[64px] md:group-hover:w-[128px] lg:group-hover:w-[100px] 2xl:group-hover:w-[190px]
        h-[5px] 2xl:h-[8px]
        rounded-full bg-slide2 transition-all duration-500"></span>
</div>
  <div class="flex flex-col md:flex-row items-center border rounded-full overflow-hidden px-0 z-10 relative border-head 2xl:w-[1800px]">
    @for(c of channels; let i = $index; track c){
      <div
        class="flex flex-col items-center px-4 sm:px-4 md:px-2 last:border-r-0 xl:w-[260px] xl:h-[127px] 2xl:w-[360px] 2xl:h-[180px] 2xl:justify-center lg:w-[160px] lg:h-[120px] lg:justify-center sm:w-[120px] sm:h-[90px] sm:justify-center md:w-[140px] md:h-[100px] md:justify-center w-[120px] h-[200px] justify-center"
        [ngStyle]="{ 'background': i % 2 !== 0 ? '#F7F7F7' : '#fff' }"
      >
        <img [src]="c.img" class="w-6 h-6 sm:w-8 sm:h-8 md:w-9 md:h-9 lg:w-10 lg:h-10 xl:w-14 xl:h-14 2xl:w-20 2xl:h-20 mb-1"/>
        <p class="font-hm font-bold text-[11px] leading-4 sm:text-xs sm:leading-4 md:text-[10px] md:leading-5 lg:text-xs lg:leading-5 xl:text-sm leading-7 2xl:text-xl">{{c.title}}</p>
        <p class="font-hm font-normal pt-0.5 text-[10px] sm:text-xs sm:pt-0.5 md:text-[10px] md:pt-1 lg:text-xs lg:pt-1 2xl:text-xl">{{c.p}}</p>
      </div>
    }
  </div>
</div>