<div class="flex justify-center flex-col items-center relative z-50">
  <div
    class="bg-hero-pattern bg-no-repeat bg-cover absolute inset-0 z-0 opacity-25"
  ></div>
  <div class="group relative z-10">
    <span
      class="block absolute left-0 top-1/2 -translate-x-12 md:-translate-x-24 lg:-translate-x-24 2xl:-translate-x-48 -translate-y-1/2 w-[32px] md:w-[64px] lg:w-[60px] 2xl:w-[90px] group-hover:w-[64px] md:group-hover:w-[128px] lg:group-hover:w-[100px] 2xl:group-hover:w-[190px] h-[5px] 2xl:h-[8px] rounded-full bg-slide2 transition-all duration-500"
    ></span>
    <h2
      class="font-hm font-bold text-head text-3xl md:text-3xl lg:text-4xl lg:pt-12 2xl:text-6xl leading-10 mb-12 pt-8 mx-6 md:mx-12 lg:mx-20 2xl:mx-32 z-10"
    >
      Our Channels
    </h2>
    <span
      class="block absolute right-0 top-1/2 translate-x-12 md:translate-x-24 lg:translate-x-24 2xl:translate-x-48 -translate-y-1/2 w-[32px] md:w-[64px] lg:w-[60px] 2xl:w-[90px] group-hover:w-[64px] md:group-hover:w-[128px] lg:group-hover:w-[100px] 2xl:group-hover:w-[190px] h-[5px] 2xl:h-[8px] rounded-full bg-slide2 transition-all duration-500"
    ></span>
  </div>
  <div
    class="rounded-[50px] flex flex-col md:flex-row items-center border overflow-hidden z-10 relative border-head w-[90%]"
  >
    @for(c of channels; let i = $index; track c){

    <div
      class="flex flex-row md:flex-col items-center w-full md:gap-2 gap-2 md:p-0 p-4"
      [ngClass]="i % 2 === 0 ? 'bg-txt' : 'bg-[#e7e7e7]'"
    >
      <img
        [src]="c.img"
        class="w-6 h-6 2xl:w-12 2xl:h-12 md:w-6 md:h-6 lg:w-6 lg:h-6 xl:w-8 xl:h-8 md:pt-2 md:my-2"
      />
      <div class="flex flex-col md:items-center flex-1 md:pb-3">
        <p
          class="font-hm font-bold text-[13px]   md:text-[9px] lg:text-[10px] xl:text-sm 2xl:text-xl"
        >
          {{ c.title }}
        </p>
        <p
          class="font-hm font-normal pt-0.5 text-[10px] sm:text-xs sm:pt-0.5 md:text-[9px] lg:text-xs lg:pt-1 2xl:text-xl"
        >
          {{ c.p }}
        </p>
      </div>
    </div>
    }
  </div>
</div>
