<header class="relative w-full px-4 py-2 flex items-center justify-between xl:justify-center mx-auto">

  <div *ngIf="menuService.menuOpen$ | async" class="xl:hidden absolute top-full right-0 mt-2 w-64 sm:w-48 translate-x-36 flex flex-col items-center gap-4 bg-txt p-6 rounded-xl shadow-2xl z-40 transition-all duration-300 ease-in-out" style="min-width: 180px;">
    <a 
      *ngFor="let link of links" 
      (click)="handleMobileLinkClick(link)"
      [ngClass]="{
        'bg-[rgba(0,0,0,1)] text-txt': activeLink === link && link !== 'A'
      }"
      class="w-full text-center rounded-full cursor-pointer py-3 px-4 text-sm font-medium hover:bg-black/80 hover:text-white transition">
      {{ link === 'A' ? (isAToggled ? 'E' : 'A') : link }}
    </a>

    <div class="flex space-x-2.5 mt-4 translate-x-4">
      <a href="#" class="w-7 h-7 flex items-center justify-center rounded-full border border-txt/40">
        <i class="fab fa-facebook-f text-sm"></i>
      </a>
      <a href="#" class="w-7 h-7 flex items-center justify-center rounded-full border border-txt/40"> 
        <i class="fab fa-youtube text-sm"></i>
      </a>
      <a href="#" class="w-7 h-7 flex items-center justify-center rounded-full border border-txt/40">
        <i class="fab fa-instagram text-sm"></i>
      </a>
      <a href="#" class="w-7 h-7 flex items-center justify-center rounded-full border border-txt/40">
        <i class="fab fa-linkedin text-sm"></i>
      </a>
    </div>
  </div>

  <nav class="hidden xl:flex gap-14 items-center uppercase rounded-full bg-txt py-4 text-base font-normal leading-3 h-20 justify-center w-full max-w-screen-2xl lg:w-[1200px] 2xl:w-[80vw] 2xl:max-w-[1800px] mx-auto relative 2xl:items-center">

    <ng-container *ngFor="let link of links">
      <a 
        (click)="setActive(link)"
        [ngClass]="{
          'bg-[rgba(0,0,0,1)] text-txt rounded-full py-6 w-[120px] h-[60px] flex justify-center items-center':
          activeLink === link && link !== 'A'
        }"
        class="cursor-pointer">
        {{ link === 'A' ? (isAToggled ? 'E' : 'A') : link }}
      </a>
    </ng-container>
  </nav>

</header>
