/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Roboto';
  src: url('assets/font/font1/MPLUSRounded1c-Black.ttf') format('truetype');

}
@font-face {
  font-family: 'Roboto';
  src: url('assets/font/font1/MPLUSRounded1c-Bold.ttf') format('truetype');

}
@font-face {
  font-family: 'Roboto';
  src: url('assets/font/font1/MPLUSRounded1c-ExtraBold.ttf') format('truetype');

}
@font-face {
  font-family: 'Roboto';
  src: url('assets/font/font1/MPLUSRounded1c-ExtraBold.ttf') format('truetype');

}
@font-face {
  font-family: 'Roboto';
  src: url('assets/font/font1/MPLUSRounded1c-Light.ttf') format('truetype');

}
@font-face {
  font-family: 'Roboto';
  src: url('assets/font/font1/MPLUSRounded1c-Medium.ttf') format('truetype');

}
@font-face {
  font-family: 'Roboto';
  src: url('assets/font/font1/MPLUSRounded1c-Regular.ttf') format('truetype');

}
@font-face {
  font-family: 'Roboto';
  src: url('assets/font/font1/MPLUSRounded1c-Regular.ttf') format('truetype');

}


@font-face {
  font-family: 'hm';
  src: url('assets/font/Roboto/Roboto-VariableFont_wdth,wght.ttf') format('truetype');

}




body{
    font-family: 'Roboto', sans-serif;
    /* background-image: rgba(255, 255, 255, 0.25);
    url('assets/images/whoweare/Vector.svg'); */
   
}