<div class="flex flex-col lg:flex-row justify-center items-center relative px-2 sm:px-4">
  <div class="bg-hero-pattern inset-0 z-0 absolute opacity-25"></div>

  <div class="bg-txt flex flex-col lg:flex-row justify-center items-center rounded-3xl text-center -translate-y-6 lg:-translate-y-14 w-full max-w-screen-xl xl:w-[1200px] shadow-md px-4 sm:px-6 md:px-8 lg:px-12 xl:px-16">

  
    <div class="w-full flex flex-col items-center justify-center gap-6 text-center lg:text-justify -translate-y-4 lg:-translate-y-8 px-2 md:px-4 lg:pr-24">

      <div class="flex items-center justify-center relative group mb-6 lg:translate-x-48">
        <span class="hidden sm:block absolute left-0 top-1/2 -translate-x-12 md:-translate-x-24 lg:-translate-x-36 -translate-y-1/2 w-[32px] md:w-[64px] group-hover:w-[64px] md:group-hover:w-[128px] h-[6px] rounded-full bg-slide2 transition-all duration-500"></span>

        <h2 class="text-head font-bold text-xl md:text-2xl lg:text-3xl leading-8 md:leading-[60px] py-6 md:py-12 lg:py-16 px-2 md:px-4 font-hm">
          Who we are?
        </h2>

        <span class="hidden sm:block absolute right-0 top-1/2 translate-x-12 md:translate-x-24 lg:translate-x-36 -translate-y-1/2 w-[32px] md:w-[64px] group-hover:w-[64px] md:group-hover:w-[128px] h-[6px] rounded-full bg-slide2 transition-all duration-500"></span>
      </div>

      <p class="font-normal text-sm md:text-base text-black leading-6 md:leading-7 w-full max-w-[588px] -translate-y-6 md:-translate-y-12 lg:-translate-y-16 font-hm">
        Tanmeyah is one of Egypt’s leading providers of financial services with a concerted focus on the micro and small enterprise segments. Founded in 2009 and acquired by EFG Holding in 2016, Tanmeyah quickly became Egypt’s pioneer in responsible financing for lower-income, small, and micro-enterprise owners with limited access to capital. The financing that Tanmeyah provides for this crucial segment of the population enable small entrepreneurs to launch and grow their businesses and support their surrounding communities. Tanmeyah directs its financing towards high-demand areas and individuals through branches in the heart of its communities.
      </p>

      <button class="bg-head h-10 text-txt rounded-full px-8 md:px-12 -translate-y-6 md:-translate-y-12 lg:-translate-y-16 font-hm">
        Read More &gt;
      </button>
    </div>

    <!-- IMAGE SECTION -->
    <div class="flex justify-center items-center flex-col w-full md:w-[465px] relative h-[240px] sm:h-[280px] md:h-[380px] lg:h-[416px] px-4 md:pr-16 lg:pr-32 py-8 md:py-20 lg:py-28 group">

      <img 
        src="../../../assets/images/whoweare/whoweare1.svg" 
        alt="image1" 
        class="max-w-[180px] sm:max-w-[220px] md:max-w-[260px] lg:w-72 h-auto object-contain absolute translate-y-2 md:translate-y-6 -translate-x-2 md:-translate-x-6 transition-all duration-1000 group-hover:translate-y-8 md:group-hover:translate-y-20" 
      />

      <img 
        src="../../../assets/images/whoweare/whoweare2.svg" 
        alt="image2" 
        class="max-w-[160px] sm:max-w-[200px] md:max-w-[230px] lg:w-56 h-auto object-contain absolute -translate-y-8 md:-translate-y-20 translate-x-12 md:translate-x-28 transition-all duration-1000 group-hover:translate-x-20 md:group-hover:translate-x-40"
      />

    </div>
  </div>
</div>
