<div class="flex justify-center items-center  lg:gap-2 pt-2 relative lg:flex-row  flex-col md:items-center pb-12 sm:flex-col ">
  <div class="bg-hero-pattern inset-0 z-0 absolute opacity-25 "></div>
 <div class="md:w-[80%] sm:w-[100%] flex flex-col lg:flex-row justify-center items-center">
    <div class="z-50 lg:w-[50%] md:w-[100%] w-[90%] " style="height:-webkit-fill-available;">
       <img src="../../../assets/images/calculate/calc.svg" class="w-full"/>
    </div>
    <div class="flex flex-col lg:w-[60%] md:w-[100%] w-[90%] justify-center items-start gap-6 pt-8 z-50 pb-1 2xl:gap-16 lg:gap-4 md:mx-4 mx-6">
      <p class="font-hm font-medium text-base text-[#3A3490] flex items-center 2xl:text-5xl">
        {{'calculator.title'|translate}}
        <span class="inline-block w-12 h-[3px] bg-head ml-4 mt-1 2xl:w-16"></span>
      </p>
      <h2 class="font-hm font-semibold text-black md:text-3xl leading-10 2xl:text-5xl sm:text-sm">{{'calculator.calc'|translate}}</h2>
    <div class="w-full">
   

<div class="  flex flex-col items-center w-full">

  <div class="flex justify-between w-full">
    <p class="font-hm font-medium text-sm leading-7 text-black 2xl:text-base">{{'calculator.ins'|translate}}</p>
    <input
      type="number"
      min="50000"
      max="250000"
      [value]="value1"
      (input)="onSlider1Change($event)"
      class="text-sm font-normal text-start text-black font-hm border rounded-full px-1 py-1 bg-txt border-[#BBB8C8] 2xl:text-2xl  text-right"
    />
  </div>
  <div class="w-full h-4 rounded-full overflow-hidden">
    <div class="transition-all duration-300 h-4" [style.width.%]="value1"></div>
  </div>
  
  <input
    type="range"
    min="0"
    max="250000"
    [value]="value1"
    (input)="onSlider1Change($event)"
    class="w-full accent-[#251F80] "
  />
  <div class="flex w-full justify-between text-xs text-gray-500 mt-1 mb-2">
    <span>50k</span>
    <span>250k</span>
  </div>
  <div class="flex justify-between w-full mt-6">
    <p class="font-hm font-medium text-sm leading-7 text-black 2xl:text-base">{{'calculator.nins'|translate}}</p>
    <input
      type="number"
      min="0"
      max="60"
      [value]="value2"
      (input)="onSlider2Change($event)"
      class="text-sm font-normal text-start text-black font-hm border rounded-full px-2 py-0.5 bg-txt border-[#BBB8C8] w-20 sm:w-24 md:w-20 lg:w-16 h-8 text-right "
    />
  </div>
  <div class="w-full h-4 rounded-full overflow-hidden">
    <div class="h-full accent-[#251F80] transition-all duration-300" [style.width.%]="value2"></div>
  </div>
 
  <input
    type="range"
    min="0"
    max="60"
    [value]="value2"
    (input)="onSlider2Change($event)"
    class="w-full accent-[#251F80] "
  />
  <div class="flex w-full justify-between text-xs text-gray-500 mt-1 mb-2">
    <span>0</span>
    <span>60</span>
  </div>
</div>
</div>
<div class="w-full flex flex-col items-start">
  <button
    class="bg-head border rounded-full text-txt px-4 py-3 font-hm font-normal 2xl:px-6 2xl:py-4 2xl:text-2xl"
    (click)="calculateLoan()"
  >
   {{'calculator.calc'|translate}}
  </button>
 
</div>
<div class="w-full min-h-[80px] mt-4 flex flex-col items-start justify-start">
  <ng-container *ngIf="calculated && value2 != 0">
    <p class="text-lg font-semibold font-hm font-base 2xl:text-3xl">
    {{'calculator.minstalments'|translate}}{{ result | number:'1.2-2' }}
    </p>
    <p class="text-base break-words font-hm font-base 2xl:text-2xl" style="color: rgb(131, 129, 129);">
      {{ 'calculator.msg'|translate }}
    </p>
  </ng-container>
  <!-- <ng-container *ngIf="calculated && value2 == 0 && message">
    <p class="text-base text-red-600">{{ message }}</p>
  </ng-container> -->
</div>

    </div>
  </div>
</div>